{%  extends 'main.html' %}

{% block content %}
<head>
	<meta charset="UTF-8">
	<title>Bootstrap Datatable | Webdevtrick.com</title>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css'>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,500" rel="stylesheet"/>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<br>
<br>
<h1> This page will delete all the records in the database</h1>
<h2> {{message}}</h2>
<script>
// $(document).ready(function () {
//     $('#dtBasicExample').DataTable();
// });
// Code By Webdevtrick ( https://webdevtrick.com )
$(document).ready(function() {
   $("#sort").DataTable();
});
</script>
{% endblock %}