{%  extends 'main.html' %}

{% block content %}
<br>
<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
                <div class="form-group">
				    {{myFilter.form}}
                </div>
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Author</th>
					<th>Author(Eng)</th>
					<th>Work Title</th>
					<th>Translator</th>
					<th>Source Title</th>
					<th>Year</th>
					<th>Genre</th>
					<th>Publisher</th>
					<th>Update</th>
				</tr>
				{% for record in records %}
				<tr>					
                    <td>{{record.authorKorean}}</td>
					<td>{{record.authorEnglish}}</td>
					<td>{{record.workTitle}}</td>
					<td>{{record.translator}}</td>
					<td>{{record.sourceTitle}}</td>
					<td>{{record.yearCreated}}</td>
					<td>{{record.genre}}</td>
					<td>{{record.publisher}}</td>
					<td><a class="btn btn-outline-primary">Update</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}